@font-face {
  font-family: "moon";
  src: url("./public/fonts/MOON2/Moon2.0-Regular.otf");
}

* {
  padding: 0;
  margin: 0;
}

.logo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo img {
  width: 40%;
}

canvas {
  /* border: 1px solid red; */
  /* background: #0a182d; */
  background: #061121;
}

body {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: #061121;
  color: white;
  font-family: "moon";
}

ul li {
  list-style-type: none;
  margin: 15px 0;
}

a {
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.219);
  padding: 7px 9px;
  border-radius: 3px;
  text-decoration: none;
  font-family: "moon";
  color: white;
  font-size: 1.2em;
}

a:hover {
  background: rgba(255, 255, 255, 0.35);
}

.lostContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.lostContent h1 {
  color: rgb(255, 72, 72);
  font-size: 7em;
}

.lostContent p,
.lostContent a {
  font-size: 1.2em;
  margin: 10px;
}

.blue {
  color: #97ffff;
  font-size: 1.5em;
}

.images {
  width: 70%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.one {
  width: 50%;
}

.one img {
  width: 60%;
}

.howto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.howtoUl {
  margin-top: 25px;
}
